---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import Counter from '../components/Counter.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout title="Home">
  <Hero />
    <div class="container">
      <h2 class="mb-16 text-6xl">Campaign values:</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="mdi:hand-heart" title="Compassion.">
          <br></br>
          Everyone deserves compassion, no matter what circumstances have brought someone to a place where they need financial assistance. While the Trustee's office is constrained on how much we can give or who we can provide funds too, based on state statues and budget constraints, we should always strive to help those in need as much as possible. Whether that's helping them directly through one of our programs or directing them towards other services or resources in the community. 
          <br></br>
          <!-- <h5><b><a href="/es/">Here's how we can fix it:</a></b></h5>  -->
        </Feature>
        <Feature icon="mdi:water-well" title="Safety.">
          <br></br>
          One of largest duties of the township is helping to fund fire protection. While Fairfield Township does not have its own fire department, a large chunk of our budget goes to LFD. It's critical that communication lines are kept open between LFD and the township, and I am committed to keeping the needs of LFD front and center when the annual budget is written and debated. 
          <br></br>
          <!-- <h5><b><a href="/water/">Here's how we can fix it:</a></b></h5> -->
        </Feature>
        <Feature icon="mdi:home-group" title="Collaboration.">
          <br></br>
          Making sure that the townships duties are met goes well beyond the township trustee's office walls. It involves doing outreach, attending community meetings, and working with other community leaders. It also involves being in contact with other social services providers to make sure that we have adequate knowledge of community resources and can refer people where they are most likely to find the help they need. 


          <br></br>
          <!-- <h5><b><a href="/mdx-page/">Here's how we can fix it:</a></b></h5> -->
        </Feature>
      </div>
      <h2 class="mb-16 text-6xl"></h2>

      

      
      <br></br>
    </div>
    <section class="mission-section py-24">
  <div class="container">
    <div class="mission-inner">
      <div class="mission-header">
        <h2 class="text-5xl">Mission</h2>
        <div class="gold-bar"></div>
      </div>
      <div class="mission-body">
        <p class="text-xl">
          My passion to serve started in my time at Purdue, where community organizing opened my eyes to so many issues affecting our community. My interest in running for Fairfield Township Trustee however begins far earlier than college. For a period of time when I was a young child, my family relied heavily on financial assistance programs, after an unexpected and unavoidable experience. Those programs took stress off my family and gave me the chance to grow up healthy. Assistance programs aren't a handout, they're a necessary helping hand, in a system that far too often neglects those who are in need.
        </p>
        <p class="text-xl">
          One of the most critical duties of townships is the deployment of financial assistance programs. My chief focus would be to not only keep our existing assistance programs stable and compliant, but to look for ways that we can increase our programming. I also want to make sure that the trustee's office continues to be a harbor for resource knowledge, where people can come and learn about our community's assistance programs in their time of need. Our community is in need of township assistance programs now more than ever, and I want to do everything in my power to ensure that those in our community are given a helping hand.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .mission-section {
    background-color: rgb(0, 10, 70);
    border-top: 3px solid hsl(11, 89%, 56%);
    border-bottom: 3px solid hsl(11, 89%, 56%);
  }

  .mission-inner {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 860px;
    margin: 0 auto;
  }

  .mission-header {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .mission-header h2 {
    color: hsl(11, 89%, 56%);
    font-weight: 700;
  }

  .gold-bar {
    width: 80px;
    height: 4px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 2px;
  }

  .mission-body {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: #ffffff;
    line-height: 1.8;
  }
</style>
<br><br>
<div class="container py-16">
<p class="text-xl mb-6">
  <h2 id ="test2" class="text-5xl">Hello!</h2> <br>
  </p>
  <p class="text-xl mb-6">
    My name's Ted and I'm proudly running for Fairfield Township Trustee. A few quick things about me: I'm a lifelong Hoosier, former West Lafayette City Councilor, Purdue graduate, SA survivor advocate, mental health worker, and avid Pacer fan.
  </p>
  <p class="text-xl mb-6">
    I'm running because I'm passionate about making sure the Fairfield Trustee's office not only continues to provide efficient financial assistance programs, but also becomes a resource hub for those in need. Communities like Greater Lafayette best serve their citizens when their agencies, non-profits and other service providers work as a team. I want to continue the great work of Trustee Casanova by further building those connections and finding ways to better serve the most vulnerable in our community.
  </p>
  <p class="text-xl">
    To see if you live in Fairfield Township, go to <a href="indianavoters.in.gov" target="_blank" rel="noreferrer noopener">indianavoters.in.gov</a> and click "Who's on my ballot". For more information on my campaign, keep reading below. Thank you for your time!
  </p>
</div>
  <ContentMedia imgSrc="tedphoto.webp">
    <h1>Lifelong Hoosier.</h1>
    
    <p class="text-2xl">
      I'm a lifelong Hoosier, who came to Tippecanoe County in 2018 as a Purdue Student. During my time at Purdue I received two degrees, but far more importantly I found the Greater Lafayette community. Throughout my childhood I struggled with confidence, mainly due to a stutter. The truth is, I never really at home where I grew up. I never felt full accepted. In Tippecanoe, I found community where I felt truly welcomed, where I built the confidence push boundaries, where I found my voice. A community that I could call home. </p>
  </ContentMedia>
  <ContentMedia imgSrc="tedcitycouncil2.webp" reverseImg={true} transform: scaleX(-1)>
    <h1>Experience you can trust.</h1>
    <p class="text-2xl">
      Between June 2022 and May 2023, I served on West Lafayette City Council, where I authored and passed an ordinance devoted to tenate rights. The ordinance requires that all developers must notify current tenants by physical mail and email if they are seeking to rezone the property. The ordinance was written as a response to actions of a local developer who endanger the housing rights of some of my constituents. Much of my time was dedicated to advocating and organizing on behalf of Purdue students, and particularly sexual violence survivors, after two Purdue University administrators were found guilty of violating the rights of a sexual violence survivors. Read more: <a href="https://www.purdueexponent.org/finding-his-voice/article_3ae624b2-f4ce-11ed-b2c7-8b51b518551f.html" target="_blank" rel="noreferrer noopener">"Finding his voice" (purdueexponent.org)</a>
    </p>
  </ContentMedia>
  <ContentMedia imgSrc="tedcitycouncil.webp">
    <h1 id ="test2">Invested in our community.</h1>
    <p class="text-2xl">
     After college I came back to Tippecanoe County and worked in community development for two years. I currently work in the mental health field, and I look forward to hopefully bring experience from each of those fields to my work in the trustee's office. 

    </p>
  </ContentMedia>
  <section class="mt-64 mb-32">
    <div class="container">
      <h2 class="text-center mb-16 text-4xl">Vote for Ted! <br>(On your ballot as Theodore Hardesty.) <br></br></h2>
      <h3 class="text-center mb-16 text-4xl">Primary Election: Tuesday, May 5th.<br></br></h3>
            <h3 class="text-center mb-16 text-4xl">Voting info: <a href="https://www.tippecanoe.in.gov/1411/Primary-Election-Day-Voting-Locations" target="_blank" rel="noreferrer noopener">click here. </a></h3>

    </div>
  </section>
</DefaultLayout>

