---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Paid for and authorized by Ted Hardesty For Fairfield Township Trustee. <a
          href="mailto:hardesty4fairfieldtwp@gmail.com">Contact me: hardesty4fairfieldtwp@gmail.com</a
        >
      </p>
    </div>
  </section>
</footer>
